.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 10%;
  background-color: aliceblue;
  margin-left: 10%;
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-left: 15px;
}
