<div class="checkbox-container">
  <div>
    <input type="checkbox" id="pbCheckbox" (change)="toggleData('P/B')" />
    <label for="pbCheckbox">P/B</label>
  </div>
  <div>
    <input type="checkbox" id="peCheckbox" (change)="toggleData('P/E')" />
    <label for="peCheckbox">P/E</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('Forward P/E')" />
    <label for="forwardPECheckbox">Forward P/E</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('PEG')" />
    <label for="forwardPECheckbox">PEG</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('Debt/Eq')" />
    <label for="forwardPECheckbox">Debt/Eq</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('EPS (ttm)')" />
    <label for="forwardPECheckbox">EPS (ttm)</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('Forward P/E')" />
    <label for="forwardPECheckbox">Forward P/E</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('Dividend %')" />
    <label for="forwardPECheckbox">Dividend %</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('ROE')" />
    <label for="forwardPECheckbox">ROE</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('ROI')" />
    <label for="forwardPECheckbox">ROI</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('EPS Q/Q')" />
    <label for="forwardPECheckbox">EPS Q/Q</label>
  </div>
  <div>
    <input type="checkbox" id="forwardPECheckbox" (change)="toggleData('Insider Own')" />
    <label for="forwardPECheckbox">Insider Own</label>
  </div>
  <canvas id="cylinderChart"></canvas>
</div>
