<ion-header>
  <ion-toolbar>
    <ion-title> List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let option of Options">
      <ion-label>
        <h2>{{option.value}}</h2>
        <h3>{{option.strike}}</h3>
        <h3>{{option.price}}</h3>
        <h3>{{option.bid}}</h3>
        <h3>{{option.ask}}</h3>
        <h3>{{option.openint}}</h3>
        
        
      
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/upt/', option._id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="removeOption(option, i)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
