  <ion-header>
  <app-ribbon></app-ribbon>
  </ion-header>

  <ion-content class="cl1">

    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="recent">
        <ion-label>List View</ion-label>
      </ion-segment-button>
      <ion-segment-button value="missed">
        <ion-label>Chart View</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contact">
        <ion-label>Tile View</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contacts">
        <ion-label>Research</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-col  id="btn"><ion-button  [routerLink]="['/bill']">AAPL</ion-button></ion-col>
    <ion-col  id="btn"><ion-button  [routerLink]="['/trading']">AMZN</ion-button></ion-col>
    <ion-col  id="btn"><ion-button  [routerLink]="['/trading-view']">MSFT</ion-button></ion-col>
    <ion-col  id="btn"><ion-button  [routerLink]="['/ge']">GOOGL</ion-button></ion-col>

<div *ngIf="selectTabs === 'missed'">
  <app-analysis></app-analysis>
</div>

<div *ngIf="selectTabs ==='recent'">
  <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  <ion-grid class="col">
      <ion-row style="border-top:groove">
        <ion-col col-4>
          <ion-label>Symbol</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Last</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >Change</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >%Chg</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >Day Range</ion-label>
        </ion-col>
       <ion-col col-4>
          <ion-label >Volume</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >Week Range</ion-label>
        </ion-col>

        </ion-row>
    </ion-grid>

    <div *ngIf="selectTabs === 'recent'">
      <ion-grid *ngFor="let stock of stocks | filter: searchTerm">
        <ion-row style="border-top: groove">
          <ion-col col-4 id="c5">
            <ion-label>{{ stock.symbol }}</ion-label>
          </ion-col>
          <ion-col col-4 id="c5">
            <ion-label>{{ stock.stock[0].Close.toFixed(1) }}</ion-label>
          </ion-col>
          <ion-col col-4 id="c5" [ngClass]="{'positive-value': stock.stock[0].Change_price > 0, 'negative-value': stock.stock[0].Change_price < 0}">
            <ion-label>{{ stock.stock[0].Change_price.toFixed(2) }}</ion-label>
          </ion-col>
          <ion-col col-4 id="c5" [ngClass]="{'positive-value': stock.stock[0].Change_percentage > 0, 'negative-value': stock.stock[0].Change_percentage < 0}">
            <ion-label>{{ stock.stock[0].Change_percentage.toFixed(2) }}%</ion-label>
          </ion-col>
          <ion-col col-4 id="c5">
            <ion-label>{{ stock.stock[0].Low.toFixed(1) }}</ion-label>
            <input type="range" [min]="stock.stock[0].Low" [max]="stock.stock[0].High" [value]="stock.stock[0].Close" #rangeSlider>
            <ion-label>{{ stock.stock[0].High.toFixed(1) }}</ion-label>
          </ion-col>
          <ion-col col-4 id="c5">
            <ion-label>{{ (stock.stock[0].Volume / 1000000).toFixed(1) }}M</ion-label>
          </ion-col>
          <ion-col col-4 id="c5">
            <ion-label>{{ lowestPrices[stock.symbol].toFixed(2) }}</ion-label>
            <input type="range" [min]=" lowestPrices[stock.symbol]" [max]=" highestPrices[stock.symbol]" [value]="stock.stock[0].Close" #rangeSlider>
            <ion-label>{{ highestPrices[stock.symbol].toFixed(2) }}</ion-label>
          </ion-col>
       </ion-row>
      </ion-grid>
    </div>
</div>

  <div *ngIf="selectTabs === 'contact'" class="grid-container">

    <ion-card *ngFor="let stock of stocks" id="card">
      <ion-card-title>{{stock.symbol}}</ion-card-title>
      <ion-card-content>
        <ion-row class="ion-apgn-items-center">
          <ion-col>
            <p>Buy<br></p>
            <b style="color: red">
              {{ stock.stock[currentIndex].Bid.toFixed(1) }}
            </b>
          </ion-col>
          <ion-col>
            <p>Sell<br></p>
            <b style="color: green">
              {{ stock.stock[currentIndex].Ask.toFixed(1) }}
            </b>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>






<div *ngIf="selectTabs === 'contacts'">
  <details>
  <summary>RATIOS/PROFITABLITY</summary>
    <app-metrics></app-metrics>
  </details>
<details>
  <summary>NEWS</summary>
  <app-charts></app-charts>
</details>
<details>
  <summary>ANALYST CONSENSUS & TRENDS</summary>
  <app-chart1></app-chart1>
</details>
<details>
  <summary>EARNINGS PROJECTIONS</summary>
  <app-earning></app-earning>
</details>
<details>
  <summary>PROFILE</summary>
  <app-profile></app-profile>
</details>
</div>





