<ion-header>
  <ion-toolbar>
    <ion-title>Earning Calander</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid class="grid">
    <ion-row style="border-top:groove">
      <ion-col col-4>
        <ion-label>Date</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-searchbar type="text" class="form-control" placeholder="Search..."
          [(ngModel)]="filterTerm" ></ion-searchbar>
      </ion-col>
      <ion-col col-4>
        <ion-label >Result Type</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >LTP</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >% Change</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Tentative Time</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >See Financials</ion-label>
      </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let earn of earn | filter: filterTerm" >
    <ion-row style="border-top:groove">
      <ion-col col-4>
        <ion-label>{{earn.Date}}</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>
          <a [attr.href]="earn.url">
          {{earn.Search}}
         </a></ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{earn.ResultType}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{earn.LTP}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{earn.Change}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{earn.TentativeTime}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{earn.SeeFinancials}}</ion-label>
      </ion-col>

      </ion-row>
  </ion-grid>

</ion-content>
