<div class="container mt-3">
  <table class="table">
    <thead class="table-success">
      <tr>
        <th></th>
        <ng-container *ngFor="let currency of ['USD', 'EUR', 'JPY', 'GBP', 'CHF', 'AUD', 'CAD', 'NZD']">
          <th>{{ currency }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>USD</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[0].rate.toFixed(2)}}</td>
          <td>{{ rate.data[1].rate.toFixed(2)}}</td>
          <td>{{ rate.data[2].rate.toFixed(2)}}</td>
          <td>{{ rate.data[3].rate.toFixed(2)}}</td>
          <td>{{ rate.data[4].rate.toFixed(2)}}</td>
          <td>{{ rate.data[5].rate.toFixed(2)}}</td>
          <td>{{ rate.data[6].rate.toFixed(2)}}</td>
          <td>{{ rate.data[7].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>EUR</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[8].rate.toFixed(2)}}</td>
          <td>{{ rate.data[9].rate.toFixed(2)}}</td>
          <td>{{ rate.data[10].rate.toFixed(2)}}</td>
          <td>{{ rate.data[11].rate.toFixed(2)}}</td>
          <td>{{ rate.data[12].rate.toFixed(2)}}</td>
          <td>{{ rate.data[13].rate.toFixed(2)}}</td>
          <td>{{ rate.data[14].rate.toFixed(2)}}</td>
          <td>{{ rate.data[15].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>JPY</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[16].rate.toFixed(2)}}</td>
          <td>{{ rate.data[17].rate.toFixed(2)}}</td>
          <td>{{ rate.data[18].rate.toFixed(2)}}</td>
          <td>{{ rate.data[19].rate.toFixed(2)}}</td>
          <td>{{ rate.data[20].rate.toFixed(2)}}</td>
          <td>{{ rate.data[21].rate.toFixed(2)}}</td>
          <td>{{ rate.data[22].rate.toFixed(2)}}</td>
          <td>{{ rate.data[23].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>GBP</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[24].rate.toFixed(2)}}</td>
          <td>{{ rate.data[25].rate.toFixed(2)}}</td>
          <td>{{ rate.data[26].rate.toFixed(2)}}</td>
          <td>{{ rate.data[27].rate.toFixed(2)}}</td>
          <td>{{ rate.data[28].rate.toFixed(2)}}</td>
          <td>{{ rate.data[29].rate.toFixed(2)}}</td>
          <td>{{ rate.data[30].rate.toFixed(2)}}</td>
          <td>{{ rate.data[31].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>CHF</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[32].rate.toFixed(2)}}</td>
          <td>{{ rate.data[33].rate.toFixed(2)}}</td>
          <td>{{ rate.data[34].rate.toFixed(2)}}</td>
          <td>{{ rate.data[35].rate.toFixed(2)}}</td>
          <td>{{ rate.data[36].rate.toFixed(2)}}</td>
          <td>{{ rate.data[37].rate.toFixed(2)}}</td>
          <td>{{ rate.data[38].rate.toFixed(2)}}</td>
          <td>{{ rate.data[39].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>AUD</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[40].rate.toFixed(2)}}</td>
          <td>{{ rate.data[41].rate.toFixed(2)}}</td>
          <td>{{ rate.data[42].rate.toFixed(2)}}</td>
          <td>{{ rate.data[43].rate.toFixed(2)}}</td>
          <td>{{ rate.data[44].rate.toFixed(2)}}</td>
          <td>{{ rate.data[45].rate.toFixed(2)}}</td>
          <td>{{ rate.data[46].rate.toFixed(2)}}</td>
          <td>{{ rate.data[47].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>CAD</th>
        <ng-container *ngFor="let rate of crossrates">
          <td>{{ rate.data[48].rate.toFixed(2)}}</td>
          <td>{{ rate.data[49].rate.toFixed(2)}}</td>
          <td>{{ rate.data[50].rate.toFixed(2)}}</td>
          <td>{{ rate.data[51].rate.toFixed(2)}}</td>
          <td>{{ rate.data[52].rate.toFixed(2)}}</td>
          <td>{{ rate.data[53].rate.toFixed(2)}}</td>
          <td>{{ rate.data[54].rate.toFixed(2)}}</td>
          <td>{{ rate.data[55].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>NZD</th>
        <ng-container *ngFor="let rate of crossrates">
           <td>{{ rate.data[56].rate.toFixed(2)}}</td>
          <td>{{ rate.data[57].rate.toFixed(2)}}</td>
          <td>{{ rate.data[58].rate.toFixed(2)}}</td>
          <td>{{ rate.data[59].rate.toFixed(2)}}</td>
          <td>{{ rate.data[60].rate.toFixed(2)}}</td>
          <td>{{ rate.data[61].rate.toFixed(2)}}</td>
          <td>{{ rate.data[62].rate.toFixed(2)}}</td>
          <td>{{ rate.data[63].rate.toFixed(2)}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
