.grid{
    background-color: aqua;
}
.reds{
    background-color: antiquewhite;
}
.green{
    background-color: #00ff7b;
}
.yellow{
    background-color: rgb(240, 240, 121);
}
.redss{
    background-color: rgb(240, 77, 63);
}
.content
{
    

        font-family:Times New Roman !important;
          font-size:1.1em;
    

}