<ion-header>
  <app-ribbon></app-ribbon>

</ion-header>


<ion-content >
  <div class="row mt-2">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm4 col-16 my-16">
      <div class="card border-radius-15 p-3">
        <canvas id="barChart"></canvas>

          <th>Performance today</th>


      </div>
    </div>  <div class="col-xl-6 col-lg-6 col-md-6 col-sm4 col-16 my-16 box">

        <div class="table-responsive">

          <table class="table font-12">
            <thead class="bg-gray">
              <tr class="border-0">
                <th class="border-0">Symbol</th>
                <th class="border-0">Name</th>
                <th class="border-0">Percentage</th>

              </tr>
            </thead>
            <tbody>


                <tr *ngFor="let stock of stocks">
                  <td><button>{{ stock.symbol }}</button></td>
                  <td><button>{{ stock.symbol }}</button></td>
                  <td><button> {{stock.stock[0].Close.toFixed(1)}} </button></td>

              </tr>
            </tbody>
          </table>
        </div>


        <th>Over all return</th>

      </div>
    </div>
    <div class="ion-padding">
      <ion-item>
        <ion-label>Select Symbol</ion-label>
        <div *ngFor="let stock of stocks">
          <input type="checkbox" [(ngModel)]="stock.selected" (change)="onSelectionChange()">
          {{stock.symbol}}
        </div>
      </ion-item>
      <div id="chart"></div>
    </div>


  <div class="col-xl-12 col-lg-12 col-md-12 col-sm12 col-16 my-16">
    <div class="card border-radius-15 p-3">
      <div class="container mt-3">
        <table class="table table-bordered ">
          <thead class="thead-dark-blue">
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Today Price</th>
              <th scope="col">Number of Security</th>
              <th scope="col">Value</th>
              <th scope="col">Grant Total</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let folio of portfolio">

             <td> <label>{{ folio.ticker_symbol}}</label></td>
              <td><p>{{ folio.today_price}}</p></td>
              <td><p>{{ folio.quantity}}</p><td>
              <td><p>{{ folio.total_amount}}</p></td>

            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>

  </ion-content>



