.grids{
    background-color: rgb(15, 229, 229);
}
.red{
    background-color: rgb(165, 225, 243);
}
.green{
    background-color: #00ff7b;
}
.yellow{
    background-color: rgb(240, 240, 121);
}
.redss{
    background-color: rgb(249, 248, 248);
}
.content{
  
    font-family:Times New Roman !important;
      font-size:1.1em;
  }