
*{
    font-family:lato;
}
.menu-header-bg{
    height:200px;
    width:350px;
    background-color:rgb(4, 83, 158);
    background: linear-gradient(90deg,#0936ca 0%,#0f4780 100%);
    box-shadow:0px 1px 10px rgba(29, 25, 247, 0.5);
    transform:rotate(-15deg);
    border-radius:10px 10px 10px 80px;
    margin-left:-18px;
    margin-top:-50px;
    margin-bottom:60px;
}
.header-content{
    position: absolute;
    top:30px;
    left:15px;
    display:flex;
    align-items:center;


img{
    width: 80px;
    height:80px;
    border-radius:50%;
    border:7px solid rgba(41, 116, 237, 0.5)
    }
}
.menu-bg{
    height:180px;
    width:350px;
    background-color:rgb(12, 89, 243);
    background: linear-gradient(90deg,#4a64e4 0%,#4388ef 100%);
    box-shadow:0px 1px 10px rgba(73, 85, 216, 0.5);
    transform:rotate(-20deg);
    border-radius:10px 10px 10px 50px;
    margin-left:-20px;
    margin-top:-50px;
    margin-bottom:60px;


}
.red{
    background-color: aqua;
    border-top-right-radius: 0pc;
}
