<div class="ant-col-md-24 ant-col-lg-24">
  <div class="card">
    <div class="card-header">
      <small>ALERTS & NOTIFICATION</small>
    </div>
    <div class="card-body">
      <ul> <li>Hight</li>
       <li>Low</li>
   <li>Close</li></ul>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <small>ONGOING PIPELINE STATUS</small>
    </div>
    <div class="card-body">
      <p><i class="fas fa-lightbulb green-icon"></i> DEPLOYMENT <i class="fas fa-arrow-right green-icon"></i></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <small>FAILED BUILDS</small>
    </div>
    <div class="card-body">
      <p><i class="fas fa-times-circle red-icon"></i> 1 <i class="fas fa-arrow-right red-icon"></i></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <small>SUCCESS BUILDS</small>
    </div>
    <div class="card-body">
      <p><i class="fas fa-check-circle green-icon"></i> 12<i class="fas fa-arrow-right red-icon"></i></p>
    </div>
  </div>

</div> 

<div class="pro">
  <nz-calendar
  [nzFullscreen]="false"
  (nzSelectChange)="onValueChange($event)"
  (nzPanelChange)="onPanelChange($event)"
></nz-calendar>
</div>

<div class="charts" >
  <div>
    <canvas id="barchart"></canvas> 
  
  </div>
  
  </div>
      
  
  
 