
  .mb-1{
    font-size: 20px;
    color: rgb(16, 15, 15);
    padding: 10px;
    text-align: justify;

    
    font-family: Georgia, 'Times New Roman', Times, serif;
    

  }
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
  
    text-align: justify;
    font-weight: bolder;
  }
  .chart{

    width: 1100px;
    height: 300px;
    background-color: aqua;
    
 justify-content:right;
  }
  .box{
    background-color: rgb(86, 82, 82);
    height: 300px;
    
  }
  .box1{
    background-color: rgb(247, 241, 241);
    height: 150px;
  }
  
  th{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;

  }
  *{
    color:white;
  }
  .chart{
    width: 100px;
  }
  .card {
    margin-top: 10px;
    width: 180px;
    height: 100px;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 4px;
    margin-right: 25px;
    float: right;
    background-color: #58636e;
 
  }
  small{
color:#bac1c8;
  }
  
  .card-header {
    /* background-color: #ccc; */
   
    padding: 5px;
    border-bottom: 1px solid rgba(233, 232, 232, 0.386);
  }
  
   .card-body {
    padding: 4px;
  } 
  
  .green-icon {
    color: rgb(63, 235, 63);
  }
  .red-icon {
    color: rgb(246, 14, 14);
  }
  .charts{
    width: 500px;
    height: 600px;
    padding: 20px;

  }
  nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
 
    padding: 10px;
  }
  .pro{
    margin-top: 10px;
width: 300px;
border: '1px solid #d9d9d9';
backgroundColor: '#0af2c8';
     height: 100px;
    margin-right: 20px;
    float: right;
  }