<!-- <ion-header >
  <ion-toolbar class="s">
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      <ion-title>Stock</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<h2>Stock-List</h2>
  <ion-searchbar type="text" class="form-control" placeholder="Search..."
  [(ngModel)]="filterTerm" ></ion-searchbar>

    <ion-grid class="grid">
      <ion-row style="border-top:groove">
        <ion-col col-4>
          <ion-label>StockName</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >LivePrice<br>Change</ion-label>
        </ion-col>
        <ion-col col-4>

    <ion-label >DayGain<br>%Change</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >Quantity<br>Cost Per<br>unit</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >InvestmentCost<br>Weight(1%)</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >LatestValue<br>Weight(1%)</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >UnrealizedGain<br>Weight(%)</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >RealiseProfitorloss<br>Change</ion-label>
        </ion-col>
        </ion-row>
    </ion-grid>

      <ion-grid *ngFor="let stock of stock | filter: filterTerm" class="green">
        <ion-row style="border-top:groove">
          <ion-col col-4>
            <ion-label>{{  stock.StockName }}</ion-label>
           
          </ion-col>
          <ion-col col-4>
            <ion-label>{{  stock.LivePrice }}</ion-label>
          </ion-col><ion-col col-4>
            <ion-label>{{  stock.DayGain }}</ion-label> 
          </ion-col><ion-col col-4>
            <ion-label>{{  stock.Quantity }}</ion-label>
          </ion-col><ion-col col-4>
            <ion-label>{{  stock.InvestmentCost }}</ion-label>
          </ion-col><ion-col col-4>
            <ion-label>{{  stock.LatestValue }}</ion-label>
          </ion-col><ion-col col-4>
            <ion-label>{{  stock.UnrealizedGain }}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label>{{ stock.RealiseProfitorloss }}</ion-label>
          </ion-col> 

          <button ion-button clear [routerLink]="['/cres/', stock._id]">
            <ion-icon name="create" style="zoom:1.5"></ion-icon>
          </button>
          <button ion-button clear (click)="removestock(stock, i)">
            <ion-icon name="trash" style="zoom:1.5"></ion-icon>
          </button>

          </ion-row>
      </ion-grid>

  

    </ion-content> -->
    <div id="chart">
      <canvas #candlestickChart></canvas>
    </div>
    