<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    <ion-title> Tradingview Widget</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_7ab57"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/AMZN/" rel="noopener" target="_blank"><span class="blue-text">Amazon</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">

  </script>
</div>
<!-- TradingView Widget END -->
</ion-content>
