<ion-header>
  <app-ribbon1></app-ribbon1>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="recent">
      <ion-label>List View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="missed">
      <ion-label>Chart View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-label>Tile View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contacts">
      <ion-label>Research</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Buttons -->
  <ion-col id="btn"><ion-button [routerLink]="['/trading']">CL</ion-button></ion-col>
  <ion-col id="btn"><ion-button [routerLink]="['/trading-view']">SI</ion-button></ion-col>
  <ion-col id="btn"><ion-button [routerLink]="['/ge']">GC</ion-button></ion-col>
  <ion-col id="btn"><ion-button [routerLink]="['/ge']">HG</ion-button></ion-col>

  <!-- Recent tab -->
  <div *ngIf="selectTabs === 'recent'">
    <table>
      <tbody>
        <tr >
          <td>
            <table>
              <thead>
                <tr>
                  <th>Symbol</th>
                  <th>Date</th>
                  <th>Open</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Close</th>
                  <th>ask</th>
                  <th>bid</th>
                  <th>change</th>
                  <th>ChangePercentage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
                <tr *ngFor="let com of commoditys">
                 <td>{{ com.Symbol }}</td>
                 <td>{{ com.Data[1].Date}}</td>
                 <td>{{ com.Data[1].Open.toFixed(2) }}</td>
                 <td>{{ com.Data[1].High.toFixed(2) }}</td>
                 <td>{{ com.Data[1].Low.toFixed(2) }}</td>
                 <td>{{ com.Data[1].Close.toFixed(2) }}</td>
                 <td>{{ com.Data[1].Ask.toFixed(0)}}</td>
                 <td>{{ com.Data[1].Bid.toFixed(0)}}</td>
                 <td>{{ com.Data[1].Change.toFixed(0)}}</td>
                 <td>{{ com.Data[1].ChangePercentage.toFixed(0)}}</td>

               </tr><tr>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- Chart tab -->
  <div *ngIf="selectTabs === 'missed'">
    <app-commodity></app-commodity>
  </div>

  <!-- Tile tab -->
  <div *ngIf="selectTabs === 'contact'" class="grid-container">
    <ion-card *ngFor="let com of commoditys" class="card">
      <center><ion-card-title>{{ com.Symbol }}</ion-card-title></center>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <p>Ask</p>
            <b [style.color]="getAskColor(com)">{{ com.Data[updateData()].Open.toFixed(2) }}</b>
          </ion-col>
          <ion-col>
            <p>Bid</p>
            <b [style.color]="getBidColor(com)">{{ com.Data[updateData()].Close.toFixed(2) }}</b>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Research tab -->
  <div class="design">
    <div *ngIf="selectTabs === 'contacts'">
      <details>
        <summary>NEWS</summary>
        <app-com-news></app-com-news>
        </details><br>
        <details>
          <summary>ECONOMIC CALENDER</summary>
      
         </details>
    </div>
  </div>
</ion-content>