.build-page h2 {
    width: 40%;
    margin: auto;
  }
  .box-design {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    border-radius: 15px;
  }
  
  @media (max-width: 768px) {
    .build-page h2 {
      width: 100%;
      margin: auto;
    }
  }
  th{

  font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(235, 7, 7);

    font-weight: bold;
  }
