<ion-header>
  <app-ribbon></app-ribbon>
</ion-header>

<ion-content class="class">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="recent">
      <ion-label>List View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="missed">
      <ion-label>Chart View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-label>Tile View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="research">
      <ion-label>Research</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="selectTabs === 'recent'">
    <ion-grid>
      <ion-row class="header-row" style="border-top: groove">
        <ion-col col-4>
          <ion-label>Symbol</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Open</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Close</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>High</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Low</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Change</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Chg%</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-label>Adj Close</ion-label>
        </ion-col>
      </ion-row>
      <ng-container *ngFor="let forexItem of forex">
        <ion-row class="footer-row" style="border-top: groove">
          <ion-col col-4>
            <ion-label>{{ forexItem.symbol }}</ion-label>
          </ion-col>
          <ion-col col-2>
            <ion-label>{{ forexItem.values[0].Open.toFixed(4) }}</ion-label>
          </ion-col>
          <ion-col col-2>
            <ion-label>{{ forexItem.values[0].Close.toFixed(4) }}</ion-label>
          </ion-col>
          <ion-col col-2>
            <ion-label>{{ forexItem.values[0].High.toFixed(4) }}</ion-label>
          </ion-col>
          <ion-col col-2>
            <ion-label>{{ forexItem.values[0].Low.toFixed(4) }}</ion-label>
          </ion-col>
          <ion-col col-2 [style.color]="getChangeColor(forexItem.values[1].Change)">
            <ion-label>{{ forexItem.values[1].Change.toFixed(4) }}</ion-label>
          </ion-col>
          <ion-col col-2 [style.color]="getPercentChangeColor(forexItem.values[1].PercentChange)">
            <ion-label>{{ forexItem.values[1].PercentChange.toFixed(4) }}%</ion-label>
          </ion-col>
          <ion-col col-2>
            <ion-label>{{ forexItem.values[0]['Adj Close'].toFixed(4) }}</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ng-container>

  <div *ngIf="selectTabs === 'missed'">
    <app-forexch></app-forexch>
    <!-- <app-forexchart></app-forexchart> -->
  </div>

  <div class="grid-container" *ngIf="selectTabs === 'contact'">
    <ion-card *ngFor="let forexItem of forex" id="card">
      <ion-card-title>{{ forexItem.symbol }}</ion-card-title><br>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <p>Buy</p>
            <b [ngStyle]="{'color': getBuyColor(forexItem.values[currentIndex]?.Bid, forexItem.values[currentIndex]?.Ask)}">
              {{ forexItem.values[currentIndex]?.Bid.toFixed(7) }}
            </b>
          </ion-col>
          <ion-col>
            <p>Sell</p>
            <b [ngStyle]="{'color': getSellColor(forexItem.values[currentIndex]?.Bid, forexItem.values[currentIndex]?.Ask)}">
              {{ forexItem.values[currentIndex]?.Ask.toFixed(7) }}
            </b>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="selectTabs === 'research' ">
    <details>
      <summary>ECONOMIC CALENDAR</summary>
      <app-calender></app-calender>
    </details>
    <details>
      <summary>INTEREST AND RATES</summary>
      <app-interest></app-interest>
    </details>
    <!-- <details>
      <summary>FUNDAMENTAL VIEW</summary>
      <app-fundamentalview></app-fundamentalview>
    </details> -->
    <details>
      <summary>NEWS</summary>
      <app-news></app-news>
    </details>
    <details>
      <summary>FOREX CROSS RATES</summary>
      <app-forexcross></app-forexcross>
    </details>
    <details>
      <summary>SCREENER CROSS RATES</summary>
      <app-screener></app-screener>
    </details>
  </div>
</ion-content>
