<ion-header>
  <ion-toolbar>
    <ion-title>Add Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="foptionForm" (ngSubmit)="onSubmit()">
     

      <ion-item>
        <ion-label position="floating">value</ion-label>
        <ion-input formControlName="value" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">strike</ion-label>
        <ion-input formControlName="strike" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">price</ion-label>
        <ion-input formControlName="price" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">bid</ion-label>
        <ion-input formControlName="bid" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ask</ion-label>
        <ion-input formControlName="ask" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">openint</ion-label>
        <ion-input formControlName="openint" type="text" required>
        </ion-input>
      </ion-item>

     
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>

