<ion-header>
  <ion-toolbar>
    <ion-title>Add Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Vix</ion-label>
        <ion-input formControlName="Vix" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">High</ion-label>
        <ion-input formControlName="High" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Low</ion-label>
        <ion-input formControlName="Low" type="text" required>
        </ion-input>
      </ion-item>

      

      
     
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
